    body {
        text-align: justify;
        margin-right: 100px;
        margin-left: 50px;
        font-family: 'Open Sans', sans-serif;
    }
    
    nav ul {
        list-style-type: none;
        width: 1500px;
        margin: 0 auto;
    }
    
    nav li {
        display: inline;
    }
    
    nav a:link,
    nav a:visited {
        color: rgb(173, 17, 17);
        text-decoration: none;
        width: 200px;
        padding: 20px 20px;
        font-size: 40px;
        margin: 0px 5px;
        font-weight: 700;
        font-family: cursive;
    }
    
    nav a:hover {
        color: green;
        ;
    }
    
    #icon {
        margin-left: 0;
        float: left;
    }
    
    #nag-pic {
        float: left;
    }
    
    table,
    td,
    th {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 15px;
        height: 30px;
    }
    
    td {
        text-align: center;
    }
    
    th {
        text-align: center;
        background-color: burlywood;
    }
    
    #sumtable th,
    td {
        text-align: left;
    }
    
    #sumtable th {
        background-color: rgb(255, 205, 140);
    }
    
    #intable th {
        background-color: rgb(233, 110, 135);
    }
    
    #granted {
        background-color: rgb(17, 201, 88);
    }
    
    #denied {
        background-color: rgb(238, 48, 48);
    }
    
    #names {
        color: rgb(189, 39, 39);
    }
    
    #listicon {
        list-style-type: square;
    }
    
    #listicon a:link {
        text-decoration: none;
    }
    
    #listicon a:hover {
        color: green;
    }
    
    .column {
        float: left;
        width: 200px;
        padding: 10px;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }